<div class="ui  vertical footer segment">
  <div class="ui center aligned container">
        <div class="ui  section divider"></div>
    <div class="ui stackable  divided grid">

      <div class="three wide column">
        <h4 class="ui  header">支付方式</h4>
        <div class="ui  link list">
          <div class="item">微信支付</div>
          <div class="item">支付宝</div>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui  header">配送方式</h4>
        <div class="ui  link list">
          <div class="item">顺丰</div>
          <div class="item">申通</div>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui  header">微信小程序</h4>
        <img class="ui centered image" src="/assets/images/xiaochengxu.jpg" alt="小程序" />
      </div>
      <div class="three wide column">
        <h4 class="ui  header">官方淘宝店</h4>
        <img class="ui centered image" src="/assets/images/taobao.JPG" alt="小程序" />
      </div>
      <div class="four wide column">
        <a class="ui button" href="/博客.html">博客</a>
        <h4 class="ui  header">关注我们</h4>
          <a class="item ui button" href="http://weibo.com/6152967474" target="_blank">
            <i class="weibo large red icon"></i>
          </a>
          <button class="item ui button wechat-attention">
            <i class="wechat large green icon"></i>
          </button>
      </div>
    </div>

    <div class="ui  section divider"></div>
    <div class="ui horizontal small divided link list">
      <div class="item" href="#">京ICP备 17007173号</div>
      <a class="item" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502032685" target="_blank">京公网安备 11010502032685号</a>
      <a class="item" href="mailto:{{ site.email }}">联系我们</a>
      <a class="item" href="{{"/sitemap.xml" | relatieve_url}}">站点地图</a>
      <div class="item" href="#">© 2018 北京小贴画科技有限公司</div>
    </div>
  </div>
</div>
