<a class="ui image" href="{{ site.baseurl }}{{ product.url }}">
  <img  src="{{ product.image | relative_url }}" alt="{{ product.name }}"/>
</a>

<div class="content">
  <a class="meta" href="{{ site.baseurl }}{{ product.url }}">{{ product.name }}</a>
  <div class="meta right floated">
    价格：<i class="yen icon"></i>{{ product.price }}
  </div>
</div>
<div class="smallsticker-add-item ui bottom attached red button"
  data-item-name="{{ product.name }}"
  data-item-id="{{ product.sku }}"
  data-item-image="{{ product.image }}"
  data-item-url="{{ site.baseurl }}"
  data-item-price="{{ product.price }}">
  <i class="plus icon"></i>
  放入购物车
</div>
