@media screen and (max-width: 768px) {
  #nav.js {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  #menu, #gift-box {
    display: none;
  }
}


.ui.footer.segment {
  margin: 5em 0em 0em;
  padding: 5em 0em;
}
