body {
  background-color: #00FFFF;
}


@media screen and (max-width: 768px) {
  #nav.js {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  #menu, #gift-box {
    display: none;
  }
}



.text.container .left.floated.image {
  margin: 2em 2em 2em -4em;
}
.text.container .right.floated.image {
  margin: 2em -4em 2em 2em;
}

.ui.footer.segment {
  margin: 5em 0em 0em;
  padding: 5em 0em;
}
