

@media screen and (max-width: 768px) {
  #nav.js {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  #menu, #gift-box {
    display: none;
  }
}
/* change style */
.ui.sticky.fixed {
  background-color: #A0A0A0;
  position: fixed;
}


.ui.footer.segment {
  margin: 5em 0em 0em;
  padding: 5em 0em;
}
