---
layout: products
---
<div class="ui massive breadcrumb">
  <a class="section" href="/">主页</a>
  <i class="right angle icon divider"></i>
  <a class="section" href="/{{ page.categories }}">{{ page.categories }}</a>
  <i class="right angle icon divider"></i>
  <div class="active section" href="/" >{{ page.title }}</div>
</div>
<h1 class="ui dividing header">{{ page.title }}</h1>

{% assign tags =  site.products | map: 'tags' | join: ','  | split: ',' | uniq %}

{% unless tags contains page.tag %}
  <p>这个标签没有相关产品啊</p>
{% endunless %}

<div class="ui four doubling stackable cards">


{% for product in site.products %}
{% if product.categories contains page.categories and product.tags contains page.tag %}


<div class="card">
{% include product.html %}
</div>
{% endif %}
{% endfor %}
</div>
