<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}
  <body>
    {% include header.html %}
    {{ content }}
    <div class="ui waite mini modal">
      <div class="grey header">
        <i class="gift big icon"></i>
        清单
      </div>
      <div class="content">
        <div class="description">
          <p>再等我一会吧，可能服务器或者网络有点问题</p>
        </div>
      </div>
      <div class="actions">
        <div class="ui positive right labeled icon button">
          好的
        <i class="close icon"></i>
        </div>
      </div>
    </div>
    <div class="ui standart mini modal">
      <div class="grey header">
        <i class="gift big icon"></i>
        清单
      </div>
      <div class="content">
        <div class="description">
          <p>礼盒空着，快去选喜欢的礼物吧</p>
        </div>
      </div>
      <div class="actions">
        <div class="ui positive right labeled icon button">
          好的
        <i class="close icon"></i>
        </div>
      </div>
    </div>
    <div class="ui fullscreen modal">
      <div class="ui four top attached steps">
        <a class="active step" data-tab="1">
          <i class="gift icon"></i>
          <div class="content">
            <div class="title">清单</div>
            <div class="description">查看和修改您的礼盒清单</div>
          </div>
        </a>
        <a class="step" data-tab="2">
          <i class="truck icon"></i>
          <div class="content">
            <div class="title">配送</div>
            <div class="description">填写配送信息</div>
          </div>
        </a>
        <a class="disabled step" data-tab="3">
          <i class="payment icon"></i>
          <div class="content">
            <div class="title">支付</div>
            <div class="description">扫码进行支付</div>
          </div>
        </a>
        <a class="disabled step" data-tab="4">
          <i class="info icon"></i>
          <div class="content">
            <div class="title">完成</div>
            <div class="description">显示订单相关信息</div>
          </div>
        </a>
      </div>
      <div class="ui tab attached segment active" data-tab="1">
        <table class="ui padded structured fixed table">
          <thead>
            <tr>
            <th></th>
            <th>产品信息</th>
            <th>价格</th>
            <th>数量</th>
            <th>小计</th>
            </tr>
          </thead>
          <tbody>

          </tbody>
          <tfoot>
            <tr>
              <th colspan="4">
                运费：<i class="yen icon"></i><span id="cart-freight"></span>
              </th>
              <th colspan="1">
                总计：<i class="yen icon"></i><span id="total-price">0</span>
              </th>
            </tr>
          </tfoot>
        </table>
        <div class="ui one item  menu">
          <div class="item">
            <div class="ui button black gift-box-1">下一步</div>
          </div>
        </div>
      </div>
      <div class=" ui tab attached segment" data-tab="2">
        <form class="ui form logistics">
          <div class="two fields">
            <div class="required field">
              <label>姓名</label>
              <input type="text" name="name">
            </div>
            <div class="required field">
              <label>联系电话</label>
              <input type="text" name="phone" placeholder="手机号或者座机电话">
            </div>
          </div>
          <div class="required field">
            <label>收货地址</label>
            <textarea rows="2" name="address" class="address"></textarea>
          </div>
          <div class="ui bottom black submit attached button" tabindex="0">提交</div>
        </form>
        <div class="ui two item  menu">
          <div class="item">
            <div class="ui button black gift-box-2-backward">上一步</div>
          </div>
          <div class="item">
            <div class="ui button black gift-box-2-forward disabled">下一步</div>
          </div>
        </div>
      </div>
      <div class="ui tab attached segment" data-tab="3">
          <div class="ui form">
            <div class="inline fields">
              <label for="pay-method">选择您的支付方式：</label>
              <div class="field">
                <div class="ui radio checkbox alipay">
                  <input type="radio" name="pay-method" tabindex="0" class="hidden">
                  <label>支付宝</label>
                </div>
              </div>
              <div class="field">
                <div class="ui radio checkbox wxpay">
                  <input type="radio" name="pay-method" tabindex="0" class="hidden">
                  <label>微信支付</label>
                </div>
              </div>
            </div>
            <div class="ui center aligned container">
              <div id="placeHolder">
            </div>
          </div>
          <div class="ui one item  menu">
            <div class="item">
              <div class="ui button black gift-box-3-backward">上一步</div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui tab attached segment" data-tab="4">
        <div class="ui message">
          <div class="header">
            订单完成
          </div>
          <p>我们会把订单的最新信息第一时间短信通知您，感谢您的购买</p>
        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
