<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}
  <body>
    {% include header.html %}
    {{ content }}
    <div class="ui mini wechat-box modal">
      <div class="header">扫码关注小贴画</div>
        <img class="ui centered image content"src="/assets/images/qrcode_for_wechat.jpg">
    </div>
    <div class="ui waite mini modal">
      <div class="grey header">
        <i class="gift big icon"></i>
        清单
      </div>
      <div class="content">
        <div class="description">
          <p>再等我一会吧，可能服务器或者网络有点问题</p>
        </div>
      </div>
      <div class="actions">
        <div class="ui positive right labeled icon button">
          好的
        <i class="close icon"></i>
        </div>
      </div>
    </div>
    <div class="ui standart mini modal">
      <div class="grey header">
        <i class="gift big icon"></i>
        清单
      </div>
      <div class="content">
        <div class="description">
          <p>礼盒还空着呢，快去选喜欢的礼物吧</p>
        </div>
      </div>
      <div class="actions">
        <div class="ui positive right labeled icon button">
          好的
        <i class="close icon"></i>
        </div>
      </div>
    </div>
    <div class="ui fullscreen modal">
      <div class="ui four top attached steps">
        <a class="active step" data-tab="1">
          <i class="gift icon"></i>
          <div class="content">
            <div class="title">清单</div>
            <div class="description">查看和修改您的礼盒清单</div>
          </div>
        </a>
        <a class="step" data-tab="2">
          <i class="truck icon"></i>
          <div class="content">
            <div class="title">配送</div>
            <div class="description">填写配送信息</div>
          </div>
        </a>
        <a class="step" data-tab="3">
          <i class="payment icon"></i>
          <div class="content">
            <div class="title">支付</div>
            <div class="description">扫码进行支付</div>
          </div>
        </a>
        <a class="step" data-tab="4">
          <i class="info icon"></i>
          <div class="content">
            <div class="title">完成</div>
            <div class="description">显示订单相关信息</div>
          </div>
        </a>
      </div>
      <div class="tab attached segment active" data-tab="1">
        <table class="ui padded structured table">
          <thead>
            <tr>
            <th></th>
            <th>产品信息</th>
            <th>价格</th>
            <th>数量</th>
            <th>小计</th>
            </tr>
          </thead>
          <tbody>

          </tbody>
          <tfoot>
            <tr>
              <th colspan="4">
                运费：<i class="yen icon"></i>10
              </th>
              <th colspan="1">
                总计：<i class="yen icon"></i><span id="total-price">0</span>
              </th>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class=" ui tab attached segment" data-tab="2">
aaaaaaaaaaaaaa
      </div>
      <div class=" ui tab attached segment" data-tab="3">
bbbbbbbbb
      </div>
      <div class=" ui tab attached segment" data-tab="4">
ccccccccc
      </div>
      <div class="actions">
        <div class="ui positive right labeled icon button">
          下一步
          <i class="arrow right icon"></i>
        </div>
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
