---
layout: default
---
<div class="ui divider"></div>

<div class="ui raised very padded container text segment">

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <img class="ui right floated image" src="{{"assets/images/wireframe/white-image.png" | relative_url}}" />
    <h1 class="ui dividing header" itemprop="name headline">{{ page.title | escape }}

    <div class="sub header">
      {% if page.author %}
      <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span> |
      {% endif %}
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time> |
      {% for tag in page.tags %}
          <a class="ui teal mini tag label" href="/tags/{{ tag }}">{{ tag | capitalize }}</a>
      {% endfor %}
    </div>
    </h1>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>

</div>
