---
layout: products
head:
  smallsticker-button.html
---
<div class="ui top attached breadcrumb">
  <a class="section" href="/">主页</a>
  <i class="right angle icon divider"></i>
  <a class="section" href="/{{ page.categories }}">{{ page.categories }}</a>
  <i class="right angle icon divider"></i>
  <div class="active section">{{ page.categories }}详情</div>
</div>
<h1 class="ui dividing header">{{ page.name | escape }}</h1>
<div class="ui relaxed grid">
  <div class="eight wide column">
  <div class="ui image">
    <div class="ui labels">
      {% for tag in page.tags %}
        <a class="ui teal ribbon label"  href="/标签/{{ page.categories }}标签/{{ tag }}">{{ tag | capitalize }}</a><br /><br />
      {% endfor %}
    </div>
    <img src="{{ page.image | relative_url }}" alt="{{ page.name }}">
  </div>
  </div>
  <div class="eight wide column">
  <h2 class="sub header">
    <span>价格：<i class="yen icon"></i>{{ page.price }}</span>
  </h2>
  <div> {{ content }} </div>
  <div class="ui divider" ></div>
  <a class="ui red mini button" id="shareBtn" target="_blank">
    <i class="weibo icon"></i>
    微博分享
  </a>
  <button class="ui green mini button">
    <i class="wechat icon"></i>
    微信分享
  </button>
  <button class="snipcart-add-item ui button"
    data-item-name="{{ page.name }}"
    data-item-id="{{ page.sku }}"
    data-item-image="{{ page.image }}"
    data-item-url="{{ site.baseurl }}"
    data-item-price="{{ page.price }}">
    Buy it for {{ page.price }} $
  </button>
  </div>
</div>
