---
layout: default
---
<h2>Posts related to: {{ page.tag }}</h2>
{% assign tags =  site.products | map: 'tags' | join: ','  | split: ',' | uniq %}

{% unless page.content == '' %}
  <p>{{ page.content }}</p>
{% endunless %}
{% unless tags[page.tag] | size > 0 %}
  <p>No posts in this tag at this time.</p>
{% endunless %}


{% for product in site.products %}
{% if product.tags contains page.tag %}
<div class="post-preview">
    <a href="{{ product.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ product.title }}
        </h2>
        {% if product.subtitle %}
        <h3 class="post-subtitle">
            {{ product.subtitle }}
        </h3>
        {% endif %}
    </a>
    <p class="post-meta">
      Posted by
      {% if product.author %}
        {{ product.author }}
      {% else %}
        {{ site.title }}
      {% endif %}
      on {{ product.date | date: "%B %-d, %Y" }}
    </p>
</div>
<hr>
{% endif %}
{% endfor %}
